/* https://colorhunt.co/palette/167311 */
.quote-text {
    font-size: 70px;
    font-family: 'Sorts Mill Goudy', serif;
    color: #F0F0F0;
    margin-top: 250px;
    text-align: center;

}

.open-quote-mark, .close-quote-mark {
    color: #F0F0F0;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 40px;
}

.page-body {
    background-color: #5D5B6A;
}